.map {
    height: 300px;
    width: 80%;
    border-radius: 25px;
}

.location {
    height: 50%;
}

.section2 {
    height: 100vh;
    overflow: hidden;
}

.section2 .describe {
    height: 50%;
    width: 100%;
}

.section2>.home {
    height: 100%;
    width: 100%;
}

.section2>.endereco .contato {
    height: 100%;
}

.section2>.contato {
    height: 100%;
}

.section2 h1 {
    font-size: 20px;
}

.enviar:hover {
    animation-name: zoombtn;
    animation-delay: -0.5s;
    animation-duration: 1s;
}

.icon:hover {
    animation-name: zoom;
    animation-duration: 1s;
    animation-delay: -0.5s;
}

#mensagem {
    height: 150px;
    resize: none;
}

#enviar {
    width: 100%;
}

@media (max-width:750px) and (min-height:670px) {
    .section2 {
        height: auto;
        margin-bottom: 15px;
    }
    .section2 .icon {
        margin: 10px!important;
        padding: 0px!important;
    }
    .section2 .map {
        display: none;
    }
    .section2 .endereco h1 {
        font-size: 20px;
    }
    .section2 .endereco {
        display: none;
    }
}

@media (max-width:670px) and (min-height:350px) {
    .section2 {
        height: auto;
        margin-bottom: 15px;
    }
    .section2 .icon {
        margin: 10px!important;
        padding: 0px!important;
    }
    .section2 .map {
        display: none;
    }
    .section2 .endereco h1 {
        font-size: 20px;
    }
    .section2 .endereco {
        display: none;
    }
}

@media (max-width:321px) {
    .section2 {
        height: auto;
        margin-bottom: 15px;
    }
    .section2 .icon {
        margin: 10px!important;
        padding: 0px!important;
    }
    .section2 .map {
        display: none;
    }
    .section2 .endereco h1 {
        font-size: 15px;
    }
    .section2 .endereco {
        display: none;
    }
}