.section4 {
    height: 100vh;
    overflow: hidden;
}

.section4 .img_carousel {
    height: 100%;
    width: 100%;
}

.section4 h1 {
    margin-top: 50px;
    color: #28a745!important;
}

.section4 .seguranca {
    height: 200px;
    width: 250px;
}

@media(max-height:830px) and (min-height:670px) {
    .section4 {
        height: 100vh;
        margin-top: 10px;
    }
    .section4 h1 {
        font-size: 35px;
        margin-top: 10px!important;
    }
    .section4 p {
        font-size: 20px;
        justify-content: center;
    }
    .section4 .seguro {
        height: 250px;
        width: 250px;
    }
    .section4 .seguranca {
        display: none;
    }
}

@media(max-height:670px) and (min-height:350px) {
    .section4 {
        height: 100vh;
        margin-top: 10px;
    }
    .section4 h1 {
        font-size: 35px;
        margin-top: 10px!important;
    }
    .section4 p {
        font-size: 20px;
        justify-content: center;
    }
    .section4 .seguro {
        height: 180px;
        width: 180px;
    }
    .section4 .seguranca {
        display: none;
    }
}

@media(max-width:321px) {
    .section4 {
        height: 100vh;
        margin-top: 10px;
    }
    .section4 h1 {
        font-size: 30px;
        margin-top: 10px!important;
    }
    .section4 p {
        font-size: 15px;
        justify-content: center;
    }
    .section4 .seguro {
        height: 180px;
        width: 180px;
    }
    .section4 .seguranca {
        display: none;
    }
}